
{{#isnt help_center.locale 'zh-cn'}}
    <style>
        .header > .logo .logo-image {
            background-image: url({{asset 'pic_nav_logo_white_236x34.png' }});
        }

        .header > .logo .logo-image-zh {
            background-image: url({{asset 'pic_nav_logo_white_zh_242x34.png' }});
        }

        .nav-wrapper .user-nav > a, .nav-wrapper .user-nav > a:hover {
            color: #fff;
        }

        .nav-wrapper .user-nav[aria-expanded="true"] > a, .nav-wrapper .user-nav[aria-expanded="true"] > a:hover {
            color: #272829;
        }

        .user-info button, .user-info button:hover, .user-info button:focus {
            color: #fff;
        }

        .nav-wrapper .menu-button .icon-menu {
            color: #fff;
        }

        .nav-wrapper .menu-button[aria-expanded="true"] .icon-menu {
            color: #272829;
        }

    </style>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            homePageRender()
        })
    </script>

    <section id="main-content" class="home-banner-container pos-relative text-center">
        <div class="snmk-container">
            <div class="snmk-col-6 snmk-col-l-6 snmk-col-m-6 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-3 snmk-col-l-offset-3 snmk-col-m-offset-1"> 
                <div class="font-bw-1 bold hb-title">Snapmaker Support</div>
                <div class="mt-m font-bw-2 hb-desc">Guides, troubleshooting, and support for your Snapmaker machines.</div>
            </div>
        </div>
    </section>

    <h2 class="section-title title-1 font-bw-1 bold mt-3xl mb-xl">
        {{#is help_center.locale 'zh-cn'}}
            产品支持
        {{/is}}
        {{#isnt help_center.locale 'zh-cn'}}
            Product Support
        {{/isnt}}
    </h2>
    <div class="snmk-container pos-relative" >
        <div id="productions" class="snmk-col-s-4 snmk-col-xs-4 snmk-col-l-offset-1 product-category">
        </div>
    </div>

    <section class="mt-3xl bg-white pos-relative contact-support">
        <h2 class="h2-title">Contact Support</h2>
        <div class="cs-blocks-container">
            <a href="https://snapmaker.formcrafts.com/general-inquiry" class="cs-block" target="_blank">
                <div><img src="{{asset 'gi.svg' }}" alt="General Inquiry"></div>
                <div class="cs-text-container">
                    <h3 class="cs-title">General Inquiry</h3>
                    <div class="cs-desc">For pre-sales or order issues, feedback, or other non-technical matters about all Snapmaker machines.</div>
                </div>
            </a>
            <a href="https://snapmaker.formcrafts.com/u1-troubleshooting-request" class="cs-block" target="_blank">
                <div><img src="{{asset 'ts1.svg' }}" alt="Technical Support"></div>
                <div class="cs-text-container">
                    <h3 class="cs-title">Technical Support</h3>
                    <div class="cs-desc">For Hardware/Software/Firmware issues related to Snapmaker U1.</div>
                </div>
            </a>
            <a href="https://snapmaker.formcrafts.com/support-ticket" class="cs-block" target="_blank">
                <div><img src="{{asset 'ts2.svg' }}" alt="Technical Support"></div>
                <div class="cs-text-container">
                    <h3 class="cs-title">Technical Support</h3>
                    <div class="cs-desc">For technical issues related to other Snapmaker machines (Artisan, 2.0, J1s, J1, Ray, or Original).</div>
                </div>
            </a>
        </div>
    </section>

    <section class="mt-3xl bg-white pos-relative services">
        <div class="services-wrapper" style="">
            <div id="hp-swiper" class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide s-slide">
                        <img class="s-img" src="{{asset 'refund-policy.svg'}}" alt="Refund Policy">
                        <h3 class="s-title">Refund Policy</h3>
                        <div class="s-desc">Learn about our refund process and conditions.</div>
                        <a class="s-link" href="https://wiki.snapmaker.com/en/Service_Policy/Refund_Policy" target="_blank">Learn More</a>
                    </div>
                    <div class="swiper-slide s-slide">
                        <img class="s-img" src="{{asset 'warranty-policy.svg'}}" alt="Warranty Policy">
                        <h3 class="s-title">Warranty Policy</h3>
                        <div class="s-desc">Understand the coverage and terms of our warranty.</div>
                        <a class="s-link" href="https://wiki.snapmaker.com/en/Service_Policy/Warranty_Policy" target="_blank">Learn More</a>
                    </div>
                    <div class="swiper-slide s-slide">
                        <img class="s-img" src="{{asset 'care-service.svg'}}" alt="Care Service">
                        <h3 class="s-title">Care Service</h3>
                        <div class="s-desc">Explore our extended warranty options for complete peace of mind.</div>
                        <a class="s-link" href="https://wiki.snapmaker.com/en/Service_Policy/Care_Plan" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-3xl bg-white pos-relative rights">
        <h2 class="h2-title">Which Snapmaker is Right for You?</h2>
        <div class=" r-blocks">
            <div class="r-block">
                <img class="r-img" src="{{asset 'home-compare-machine.png'}}" alt="Compare Snapmaker Machines">
                <a class="r-link" href="https://www.snapmaker.com/en-US/product-comparison">Compare Snapmaker Machines ›</a>
            </div>
            <div class="r-block">
                <img class="r-img" src="{{asset 'get-help-choosing.png'}}" alt="Get Help Choosing a Snapmaker Machine">
                <a class="r-link" href="https://www.snapmaker.com/en-US/product-comparison">Get Help Choosing a Snapmaker Machine ›</a>
            </div>
        </div>
    </section>

    <section class="mt-3xl bg-white pos-relative where-to-buy">
        <h2 class="h2-title">Where to Buy</h2>
        <div class="wtb-blocks">
            <div class="wtb-block">
                <img class="wtb-img" src="{{asset 'snapmaker-logo.svg'}}" alt="Where to Buy">
                <div class="wtb-desc font-bw-2">SNAPMAKER ONLINE STORE</div>
                <a class="wtb-link" style="background-image: url({{asset 'home-where-to-buy.png'}});" href="https://us.snapmaker.com/" target="_blank"></a>
            </div>
            <div class="wtb-block">
                <img class="wtb-img" src="{{asset 'amazon.svg'}}" alt="Where to Buy">
                <div class="wtb-desc font-bw-2">AMAZON</div>
                <a class="wtb-link" style="background-image: url({{asset 'home-where-to-buy.png'}});" href="https://www.amazon.com/snapmaker" target="_blank"></a>
            </div>
        </div>
    </section>
    
    <section class="mt-3xl bg-white pos-relative global-reseller-network">
        <h2 class="h2-title">Global Reseller Network</h2>
        <a class="g-r-wrapper" href="https://www.snapmaker.com/en-US/where-to-buy" target="_blank">
            <img class="g-r-img" src="{{asset 'grn-map.png'}}" alt="Global Reseller Network">
            <img class="g-r-mob-img" src="{{asset 'grn-map-mob.png'}}" alt="Global Reseller Network">
            <div class="g-r-desc" style="color: #3C3C3C;"> Find your local reseller </div>
        </a>
    </section>

    <section class="my-3xl bg-white pos-relative contact-us">
        <h2 class="h2-title">Contact Us</h2>
        <div class="cu-blocks">
            <div class="cu-block">
                <div class="cu-title-container">
                    <img class="cu-img" src="{{asset 'ai.svg'}}" alt="Where to Buy">
                    <h3 class="cu-title">24/7 AI Agent</h3>
                </div>
                <div class="cu-desc font-bw-2">Our AI assistant is available 24/7 to provide accurate guidance and answer your questions.</div>
                {{!-- <a class="cu-ai-link" href="">Chat Now</a> --}}
            </div>
            <div class="cu-block">
                <div class="cu-title-container">
                    <img class="cu-img" src="{{asset 'mail.svg'}}" alt="Where to Buy">
                    <h3 class="cu-title">Email Support</h3>
                </div>
                <div class="cu-desc font-bw-2">For assistance, email our support team. Responses are typically provided within 1–2 business days.</div>
                <div class="cu-email">
                    Technical Support: <a class="cu-email-link" href="mailto:support@snapmaker.com">support@snapmaker.com</a>
                </div>
            </div>
        </div>
    </section>
{{/isnt}}
{{#is help_center.locale 'zh-cn'}}
    <style> 
        .header > .logo .logo-image {
            background-image: url({{asset 'pic_nav_logo_white_236x34.png' }});
        }
        .header > .logo .logo-image-zh {
            background-image: url({{asset 'pic_nav_logo_white_zh_242x34.png' }});
        }
        .nav-wrapper .user-nav > a, .nav-wrapper .user-nav > a:hover {
            color: #fff;
        }
        .nav-wrapper .user-nav[aria-expanded="true"] > a, .nav-wrapper .user-nav[aria-expanded="true"] > a:hover {
            color: #272829;
        }
        .user-info button, .user-info button:hover, .user-info button:focus {
            color: #fff;
        }
        .nav-wrapper .menu-button .icon-menu {
            color: #fff;
        }
        .nav-wrapper .menu-button[aria-expanded="true"] .icon-menu {
            color: #272829;
        }
        .header .search-container {
            display: none;
        }
        .hero {
            background-image: url({{asset 'pic_nav_bg_1920x456.png' }});
        }
        svg.search-icon {
            width: 18px;
            height: 18px;
            line-height: unset;
            font-size: unset;
        }
    </style>

    <h1 class="visibility-hidden">{{ help_center.name }}</h1>

    <section id="main-content" class="section hero">
        <div class="hero-title">
            <span>{{dc 'home_hero_title'}}</span>
        </div>
        <div class="hero-inner">
            <h2 class="visibility-hidden">{{ t 'search' }}</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
                <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
                <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
            </svg>
            {{search submit=false instant=settings.instant_search class='search search-full'}}
        </div>
    </section>

    <section class="home-section home-section-default">
        <div class="container">
            <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
            <ul class="home-category-list">
                {{#each categories}}
                    {{#is id 4403461255959 }} {{! Snapmaker Original }}
                        <li class="home-category-item">
                            <a class="home-category" href="{{url}}">
                                <img src="{{asset 'pic_category_original_270x220.png' }}" alt="">
                                <span class="home-category-title">{{name}}</span>
                                <span class="home-category-description">{{excerpt description}}</span>
                            </a>
                        </li>
                    {{/is}}
                    {{#is id 360001781913 }} {{! Snapmaker 2.0 }}
                        <li class="home-category-item">
                            <a class="home-category" href="{{url}}">
                                    <img src="{{asset 'pic_category_2.0_270x220.png' }}" alt="">
                                <span class="home-category-title">{{name}}</span>
                                <span class="home-category-description">{{excerpt description}}</span>
                            </a>
                        </li>
                    {{/is}}
                    {{#is id 360003536313 }} {{! Snapmaker Academy }}
                        <li class="home-category-item">
                            <a class="home-category" href="{{url}}">
                                <img src="{{asset 'pic_category_academy_270x220.png' }}" alt="">
                                <span class="home-category-title">{{name}}</span>
                                <span class="home-category-description">{{excerpt description}}</span>
                            </a>
                        </li>
                    {{/is}}
                    {{#is id 360005617793 }} {{! Snapmaker Download }}
                        <li class="home-category-item">
                            <a class="home-category" href="{{url}}">
                                    <img src="{{asset 'pic_category_download_270x220.png' }}" alt="">
                                <span class="home-category-title">{{name}}</span>
                                <span class="home-category-description">{{excerpt description}}</span>
                            </a>
                        </li>
                    {{/is}}
                {{/each}}
            </ul>
        </div>
    </section>

    <section class="home-section home-section-default">
        <div class="container home-get-started">
            <h2>{{dc 'home_get_started'}}</h2>
            <div class="home-get-started-blocks">
                <!--
                <div class="home-get-started-block">
                    <span class="icon-discussion"></span>
                    <h3>Youtube Channel</h3>
                    <p>See what’s new in the video tutorials, third-party reviews, and many more.</p>
                    <a href="https://www.youtube.com/channel/UCtXHu_nugZF3uxgJJjZfcoA" target="_blank">Watch now</a>
                </div>
                -->
                {{dc 'home_get_started_youtube'}}
                {{dc 'home_get_started_discussion_block'}}
            </div>
        </div>
    </section>

    {{#if promoted_articles}}
        <section class="home-section home-section-default">
            <div class="container home-promoted-articles">
                <h2>{{t 'promoted_articles'}}</h2>
                <ul class="article-list">
                    {{#each promoted_articles}}
                        <li class="article-list-item">
                            <div class="article-item">
                                <a href="{{url}}">
                                    {{title}}
                                    {{#if internal}}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                                            <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                                            <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
                                        </svg>
                                    {{/if}}
                                </a>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    {{/if}}

    <section class="home-section home-section-grey">
        <div class="container home-need-help">
            <h2 class="home-need-help-title">{{dc 'home_need_help'}}</h2>
            <p class="home-need-help-desc">{{dc 'home_need_help_desc'}}</p>
            <div class="home-need-help-buttons">
                <a class="button button-primary" href="javascript:void(0)" onclick="zE(function() { zE.activate() });">
                    {{t 'submit_a_request' }}
                </a>
                {{!
                <a id="home-need-help-weixin-button" class="button button-secondary" href="https://forum.snapmaker.com" target="_blank">
                    Visit to the forum
                </a>
                }}
                {{dc 'home_need_help_button2'}}
                <div id="home-weixin-qrcode">
                    <div class="home-need-help-modal">
                        <img src="{{asset 'pic_weixin_qrcode_120x120.png'}}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/is}}
